<p>triangel-borders-mixin works!</p>

<div class="wrapper">
  <div class="content">
    <h1 class="title">CSS Border triangel-borders-mixin</h1>

    <p>Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is
      test content. Dit is test content. </p>
    <p>Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is
      test content. Dit is test content. </p>
    <p class="important">Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is test
      content. Dit is test content. Dit is test content. </p>
    <p>Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is
      test content. Dit is test content. </p>
    <p>Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is test content. Dit is
      test content. Dit is test content. </p>


  </div>
</div>

<a href="https://www.youtube.com/watch?v=fFJH6dguuqo"></a>
