<div class="flex-container">
  <div>
    CSS
  </div>

  <div>
    Layout
  </div>


</div>

<nav>
  <ul class="flex-menu">
    <li>CSS</li>
    <li>Layout</li>

    <ul class="flex-submenu">
        <li><a href="">Menu 1</a></li>
        <li><a href="">Menu 2</a></li>
        <li><a href="">Menu 3</a></li>
    </ul>
    <li>Test</li>
  </ul>
</nav>


<ul>
  <li><a href="flexdirection">Layout flex directions responseble</a></li>
</ul>

<ul>
  <li><a href="flexwrap">layout flex wrap Layout responsble</a></li>
</ul>

<ul>
    <li><a href="verhouding">In verhouding houden</a></li>
  </ul>

  <ul>
    <li><a href="shape">Background Shape</a></li>
  </ul>
  <ul>
    <li><a href="cssbook">CSS Book</a></li>
  </ul>
  <ul>
    <li><a href="gradient-box">gradient-box</a></li>
  </ul>
  
  <ul>
    <li><a href="gradientanimated">gradient-animated</a></li>
  </ul>
  <ul>
    <li><a href="theme">Theme</a></li>
  </ul>

  <ul>
    <li><a href="animate-js">Animate.js</a></li>
  </ul>
  
  <ul>
    <li><a href="animista">animista</a></li>
  </ul>
  

  

  
<nav>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>

</nav>
