<p>flexbox-design-patterns works!</p>
<br />
<br />
<a href="https://www.youtube.com/watch?v=vQAvjof1oe4&feature=youtu.be">https://www.youtube.com/watch?v=vQAvjof1oe4&feature=youtu.be</a>
<br />
<br />
<br />

<div class="wrapper">
  <div class="content flow">
    <h1 class="title">even columns</h1>
    <div class="even-columns">
      <div class="col">
          dfdfs dsf sdf sdf fs
      </div>
      <div class="col">
          dfasfsafs dsf dfsa sdfa sdf sdf sdf sdf
      </div>
      <div class="col">
          dsf sdfkjsdkek dsf asdfkjsdfakj fsd asldkfj asdf;lkjdsaf dfsfas
      </div>
    </div>
  </div>


  <div class="content flow">
    <h1 class="title">grid-ish</h1>
    <div class="grid-ish">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>

  <div class="content flow">
    <h1 class="title">content-sidebar</h1>
    <div class="content-sidebar">
      <div class="col"></div>
      <div class="col"></div>
    </div>

  </div>
</div>
