
<div class="progress-container">
    <div #progressBar class="progress-bar" [style.width.%]="height"></div>

  </div>

  <article #articleId class="article js-article">
    h: {{ height }}
    <h1>Lorem ipsum</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar rutrum arcu porttitor varius. Duis egestas, dolor ut fermentum rutrum, purus neque molestie lectus, sagittis gravida nunc lectus id metus. Aliquam molestie pellentesque dignissim. Ut elementum diam aliquet placerat iaculis. Integer id lectus tincidunt, pharetra erat sollicitudin, congue mauris. Nam rutrum accumsan risus iaculis consectetur. Sed ultrices justo vitae velit pharetra ullamcorper. Mauris accumsan sem ac velit semper, non venenatis erat lacinia. Vestibulum posuere semper ullamcorper.</p>
  
    <p>Pellentesque odio enim, porttitor id cursus vel, accumsan eget arcu. Vestibulum in pharetra dolor. Fusce vitae augue sed urna pretium malesuada. Donec ornare pellentesque velit, sit amet placerat odio ultricies in. Pellentesque convallis lorem et pretium consequat. In hac habitasse platea dictumst. In feugiat ultrices orci, sed scelerisque libero fringilla nec. Vestibulum non lorem lacinia, placerat augue sed, efficitur sapien. Proin facilisis turpis mi, in ornare nunc rutrum sed. Aliquam bibendum metus id condimentum accumsan.</p>
  
    <p>Maecenas ex turpis, efficitur et vehicula eget, placerat ut enim. Praesent non aliquet eros. Ut ut erat dolor. Ut hendrerit tortor sapien, eget suscipit urna porttitor sit amet. Vivamus posuere, dolor vitae aliquet accumsan, elit quam luctus libero, ut faucibus elit purus ut quam. Fusce non sem augue. Fusce blandit eros mi, sed egestas mi imperdiet pretium. Vivamus consectetur dolor quis elit aliquam euismod. Donec in luctus mauris. Etiam ac nibh nec erat mattis sagittis. Nunc auctor eget lacus sed tincidunt. Nam rutrum orci a blandit laoreet. Sed sodales convallis nibh, at finibus quam varius vitae. Aenean sollicitudin erat ut sapien lobortis eleifend. Nulla mattis nunc in dui fermentum, vitae pretium libero imperdiet.</p>
  
    <p>Nullam velit mi, pellentesque sed nunc sit amet, elementum volutpat mi. Nam feugiat iaculis orci. Nam congue fermentum consectetur. In non aliquet tortor. Ut ac ex id lectus scelerisque feugiat non eget erat. Vestibulum sed ultrices ex. Ut in tincidunt ligula. Aenean pulvinar ex nec pharetra auctor. Nullam leo nisl, imperdiet ut diam ac, vehicula dapibus eros. Vestibulum faucibus consequat bibendum. Nam ultrices justo id imperdiet hendrerit. Nulla vehicula nulla et ipsum feugiat, vel congue nisl hendrerit.</p>
  
    <p>Sed ac consectetur tortor. Vestibulum euismod porttitor tellus non fringilla. Phasellus a felis fermentum, faucibus mi in, scelerisque ligula. Quisque quis lectus neque. Nullam ut lacus lorem. Nunc eget euismod nisi. Donec dui nunc, scelerisque vitae dictum sit amet, consequat eu urna. Nam varius quam nec quam facilisis, in fringilla leo tincidunt.</p>
  </article>